*{
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Noto Sans TC', sans-serif;
}
.title{
    display: flex;
    justify-content: center;
    margin-top: 70px;
}
.title img{
    width: 200px;
    height: 200px;
}
.title h1{
    font-size: 100px;
    line-height: 200px;
}
.total{
    background-color: #eee;
    width: 100%;
    max-width: 600px;
    margin: auto;
    border: 3px double #bbb;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.range_click{
    width: 50%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.range{
    height: 225px;
    line-height: 225px;
    font-size: 60px;
}
.rule_start button{
    width: 115px;
    background-color: #bbb;
    color: #fff;
    font-size: 30px;
    border-radius: 5px;
    padding: 10px 25px;
    display: flex;
    margin: 0 10px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.input_num{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
input{
    width: 240px;
    height: 50px;
    font-size: 20px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 15px;
    border-radius: 5px;
}
.number1, .number2, .number3, .number4{
    display: flex;
    justify-content: center;
}
.number button{
    width: 75px;
    height: 75px;
    background-color: #333;
    color: #fff;
    font-size: 25px;
    border-radius: 8px;
    padding: 20px;
    margin: 5px;
}
.number4{
    margin-bottom: 25px;
}
#btnX{
    color: rgb(211, 12, 19);
}
#btnV{
    color: rgb(56, 139, 17);
}